.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

header img {
  display: none;
}

.title-container {
  width: 100%;
  max-width: 750px;
  margin: 10px auto;
}

.title {
  background-color: #f0f0f0;
  display: block;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: normal;
}

#myBooks {
  text-align: center;
}
#myBooks .main-button {
  margin-bottom: 20px;
  background-color: #469488;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

#searchForm {
  max-width: 970px; /* Increase the max width */
  margin: 0; /* Remove auto centering */
  margin-left: -13px; /* Adjust the margin to move it left */
  border: none;
  padding-left: 0px; /* Ensure it's aligned with the title */
}
#searchForm fieldset {
  border: none;
}
#searchForm label {
  display: block;
  margin-bottom: 5px;
  text-align: left; /* Align labels to the left */
  margin-left: 10px; /* Add margin to move the labels to the right */
}
#searchForm input[type=text] {
  width: 100%; /* Increase the width */
  margin-bottom: 25px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#searchForm button[type=submit],
#searchForm button[type=button] {
  display: block;
  width: 200px; /* Fixed width for the buttons */
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#searchForm button[type=submit] {
  background-color: #469488;
  color: white;
  margin-bottom: 20px; /* Increase margin between the buttons */
}
#searchForm button[type=button] {
  background-color: #DF5A4B;
  color: white;
  margin-top: 10px; /* Increase top margin to balance out the increased space */
}

#searchResults {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pochlist-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  width: calc(50% - 20px);
  box-sizing: border-box;
  text-align: left;
  background-color: #E0E0E0;
}

.book h3 {
  margin-top: 0;
}

.book p strong {
  font-style: italic;
  font-weight: bold;
}

.button-icon {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
}

.button-icon img {
  width: 20px;
  height: 20px;
}

.book-cover {
  width: 128px;
  height: 192px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.unavailable-cover {
  width: 128px;
  height: 192px;
  display: block;
  margin: 0 auto;
  background-size: cover;
}

body {
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 768px) {
  body {
    padding: 20px;
  }
  header, .title-container, #myBooks {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  body {
    padding: 40px;
  }
  header, .title-container, #myBooks {
    max-width: 960px;
  }
}
@media (max-width: 767px) {
  .book {
    width: calc(100% - 20px);
  }
}

/*# sourceMappingURL=styles.css.map */
