$primary-color: #469488;
$secondary-color: #DF5A4B;
$font-family: 'Roboto', sans-serif;

.roboto-thin {
  font-family: $font-family;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: $font-family;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: $font-family;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: $font-family;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: $font-family;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: $font-family;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: $font-family;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: $font-family;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: $font-family;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: $font-family;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: $font-family;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: $font-family;
  font-weight: 900;
  font-style: italic;
}

header {
  text-align: center;
  padding: 20px 0;
  img {
    display: block;
    margin: 0 auto;
    max-width: 200px; // Ensures logo does not exceed the screen width
  }
}

.title-container {
  width: 100%;
  max-width: 750px; // Same width as header content
  margin: 10px auto; // Center the title block
}

.title {
  background-color: #f0f0f0; // Light grey background for the title
  display: block;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
}

#myBooks {
  text-align: center;
  .main-button { // Specific class for the main button to keep the background color
    margin-bottom: 20px; // Space before the form
    background-color: $primary-color; // Green color for the button
    color: white;
    padding: 15px 30px; // Larger padding for bigger button
    font-size: 18px; // Larger font size
    border-radius: 8px; // Rounded corners
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
}

#searchForm {
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
  border: none;
  fieldset {
    border: none;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"] {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button[type="submit"] {
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
    max-width: 200px;
  }
  button[type="button"] {
    background-color: $secondary-color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
  }
}

// Styles for search results
#searchResults {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book {
  position: relative; // Ensure this is relative for absolute positioning of buttons
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  width: calc(50% - 20px); // Adjust to fit two books per row
  box-sizing: border-box;
  text-align: left; // Ensure text is left-aligned within each book element
}

.book h3 {
  margin-top: 0;
}

.book p {
  margin: 5px 0;
}

// New styles for buttons "Save", "Saved" and "Delete"
.button-icon {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
}

.button-icon img {
  width: 20px; // Adjust the size of the icons
  height: 20px; // Adjust the size of the icons
}

// Style for book cover images
.book-cover {
  width: 128px; // Fixed width for consistency
  height: 192px; // Fixed height for consistency
  display: block;
  margin: 0 auto;
  object-fit: cover; // Ensures the image covers the entire area
}

// Additional style for unavailable images
.unavailable-cover {
  width: 128px;
  height: 192px;
  display: block;
  margin: 0 auto;
  background-size: cover;
}

// Base styles for mobile
body {
  padding: 10px;
  font-family: $font-family;
}

// Media query for tablets
@media (min-width: 768px) {
  body {
    padding: 20px;
  }

  header, .title-container, #myBooks {
    max-width: 750px;
    margin: 0 auto; // Center the content
  }
}

// Media query for desktops
@media (min-width: 1024px) {
  body {
    padding: 40px; // More space on the sides for larger screens
  }

  header, .title-container, #myBooks {
    max-width: 960px; // Limit width to avoid elements being too stretched
  }
}

// Media query for mobile devices
@media (max-width: 767px) {
  .book {
    width: calc(100% - 20px); // Adjust to fit one book per row on mobile devices
  }
}
